<mat-card>
    <h3>Ficha de jugador</h3>
    <form [formGroup]="form" (submit)="updatePlayer()">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input formControlName="name" matInput placeholder="Nombre de jugador">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email de jugador">
        </mat-form-field>
        <div class="buttons">
            <button  mat-raised-button color="primary"  type="submit">Actualizar</button>
            <button  mat-raised-button color="warn"  type="button" (click)="delete()">Eliminar jugador</button>
        </div>
    </form>
</mat-card>